.searchpage-options{
    display: flex;
    color: gray;
    align-items: center;
    margin-top: 10px;
}

.searchpage-options-left,.searchpage-options-right{
    display: flex;
}

.searchpage-options-right{
    margin-left: 80px;
}

.searchpage-option{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.searchpage-option > a{
    margin-left: 5px;
}