.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

a{
    margin: 10px;
    text-decoration: none;
    font-size: 15px;
    color: var(--black-87);
}

a:hover{
    text-decoration: underline;
}

.home-header-right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.home-header-right > .MuiSvgIcon-root{
    margin-right: 20px;
}

.home-body{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    flex: 1;
}

.home-body > img{
    object-fit: contain;
    height: 100px;
}

.moreappsicon{
    color: #5f6368;
}